body { 

	padding-top: 72px;

	font-family: 'Raleway', sans-serif;

}



input[type=search] {

	border: 1px solid;

}



.navbar-brand h4, 

.jumbo-caption h1, 

.feature_section h1,

.blog_detail_slider h1,

{

	font-family: 'Raleway', sans-serif;

}



footer,

.news_events_section h1,

.testimonial_section h1,

.welcome_message h1,

.event_section h1

{

	font-family: 'Lato', sans-serif;

}



.navbar-default {

	background: rgba(19,19,19,1);

	background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(89,89,89,0) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,1)), color-stop(0%, rgba(28,28,28,1)), color-stop(0%, rgba(43,43,43,1)), color-stop(0%, rgba(17,17,17,1)), color-stop(100%, rgba(89,89,89,0)));

	background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(89,89,89,0) 100%);

	background: -o-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(89,89,89,0) 100%);

	background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(89,89,89,0) 100%);

	background: linear-gradient(to bottom, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%, rgba(17,17,17,1) 0%, rgba(89,89,89,0) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#595959', GradientType=0 );

	border: none;

	height: 80px;

}



.navbar-default .navbar-nav>li>a {

	transition: all 0.5s ease;

	color: #FFF;

	padding-top: 32px;

}



.navbar-default .navbar-nav>li>a:hover {

	transition: all 0.5s ease;

	color: #FFE401;

	font-size: 15px;

	font-weight: bold;

}



.jumbo {

	margin-top: -70px;

}



.navbar-header h4 {

	color: #FFF;

}



.color-yellow {

	color: #FFE401;

}



.slider img {

	height: 100vh;

	width: 100%;

}



.brand-title {

	margin-top: -25px;

	margin-left: 25px;

	font-size: 25px;

}



.jumbo {

	color: black;

	padding-bottom: 250px;

	/*position: relative;*/

	z-index: 600;

	margin-bottom: 100px;	

}



.jumbo-caption {

	color: #FFF;

	position: relative;

	margin-top: -450px;

	text-align: center;

	z-index: 999;

}



.jumbo-caption a {

	margin-right: 20px;

}



.jumbo-caption h1 {

	font-size: 50px;

	font-weight: 300;

}



.jumbo-caption hr {

	width: 120px;

	border-bottom: 1px solid #FFF;

}



/*.jumbo-btn {

	z-index: 9999;

}*/



.jumbo-btn {

	color: #fff;

	padding: 15px;

	border: 1px solid #FFE401;

	font-weight: 400;

}



/*.jumbo-btn.portal {

	background-color: #FFE401;

}*/



.slider:after {

	position: absolute;

    content: '';

    background: transparent url(../css/pattern.png) repeat top left;

    /*background: black;

    opacity: .46;*/

}



.slider, .slider:after {

	height: 100vh;

	width: 100%;

    top: 0px;

    left: 0px;

    bottom: 0px;

}



.slider.slider img {

	width: 100%;

	height: 100vh;

}



.slider .slick-prev:before, .slick-next:before { 

    /*color:red !important;*/

}



/*.slick-prev {

	margin-left: 60px;

	z-index: 1000;

}



.slick-next {

	margin-right: 60px;

	z-index: 1000;

}*/



.slider .slick-dots li button:before

{

    font-family: 'slick';

    font-size: 15px !important;

    line-height: 20px;



    position: absolute;

    top: 0;

    left: 0;



    width: 20px;

    height: 20px;



    content: '•';

    text-align: center;



    opacity: .25;

    color: #FFF !important;



    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;

    z-index: 1000;

    margin-top: -40px;

}

.slider .slick-dots li.slick-active button:before

{

	/*margin-top: -40px;*/

    opacity: .75;

    color: #FFF !important;

}



.slider .slick-prev:before,

.slider .slick-next:before

{

    font-family: 'slick';

    font-size: 25px;

    line-height: 1;



    opacity: .75;

    color: white;



    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;

}

.slider .slick-prev

{

	z-index: 1000;

    left: 132px;

}

.slider .slick-next

{

	z-index: 1000;

    right: 140px;

}



.welcome_message {

	margin-top: 50px;

	text-align: center;

}



.rfid_feature {

	background: url('../images/rfid.jpg');

}



.sms_feature {

	background: url('../images/sms.jpg');

}



.portal_feature {

	background: url('../images/portal.jpg');

}



.feature {

	background-size: cover;

    background-repeat: no-repeat;

    color: #FFF;

	padding: 10px;

}



.feature {

	height: 350px;

	top: 0px;

    left: 0px;

    bottom: 0px;

}



.feature a {

	color: #FFF;

}



.feature h1 {

	padding-top: 25px;

	

}



.feature hr {

	width: 30px;

	border-bottom: 2px solid #fff;

}



.feature_section {

	margin-top: 20px;	

}



.feature_section, .news_events_section {

	margin-bottom: 30px;

}



.news_events_section h1 {

	text-align: left;

}



.blog_slider img {

	width: 100%;

}



.blog_detail_slider h1 {

	font-size: 55px;

}



.blog_detail_slider p {

	text-align: left;

}



.blog_detail_slider {

	position: absolute;

	padding: 30px;

	width: 400px;

	color: #FFF;

	top: 70px;

}



.blog_slider .slick-prev:before,

.blog_slider .slick-next:before

{

    font-family: 'slick';

    font-size: 45px;

    /*line-height: 1;*/



    opacity: .75;

    color: white;



    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;

}

.blog_slider .slick-prev

{

	z-index: 1000;

	margin-top: 160px;

    left: 600px;

}



.blog_slider .slick-next

{

	z-index: 1000;

	margin-top: 160px;

    right: 70px;

}



.event_section {

	text-align: left;

	

}



.event_section hr {

	margin-top: 0;

	border: 5px solid #FFE401;

}



.testimonial_section {

	font-weight: bold;

	margin-bottom: 30px;

}



.testimonial_section h1 {

	text-align: left;

	margin-bottom: 30px;

}



.center img {

	margin: auto;

}



footer {

	color: #FFF;

	height: 100px;

	background-color: #171717;

	padding: 40px;

	margin-top: 20px;

}



.testimonial_slider .slick-prev:before,

.testimonial_slider .slick-next:before

{

    font-family: 'slick';

    font-size: 45px;

    /*line-height: 1;*/



    /*opacity: .75;*/

    color: grey !important;



    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;

}

.testimonial_slider .slick-prev

{

	z-index: 1000;

	margin-top: 10px;

    left: -127px;

}



.testimonial_slider .slick-next

{

	z-index: 1000;

	margin-top: 10px;

    right: -100px;

}



.btn {

	-webkit-border-radius: 0;

        border-radius: 0;

}



.app-btn {

	background: #FFE401;

	/*color: #FFF;*/

	transition: all 0.5s ease;

}



.app-btn:hover {

	transition: all 0.5s ease;

	border: 1px solid #FFE401;

	background: #FFF;

	color: black;

}



.contact_us {

	margin-bottom: 40px;

}

.contact_us .btn, .login .btn {

	font-weight: bold;

	width: 100%;

}



/*.contact_us .form-control, 
.login .form-control,
.dashboard .form-control,
.add_parent .form-control {
	-webkit-border-radius: 0 !important;
	        border-radius: 0 !important;
}*/

.form-control {
	-webkit-border-radius: 0 !important;
	        border-radius: 0 !important;
}



.form-control:focus {

    outline: none !important;

    border:1px solid #FFE401;

    /*box-shadow: 0 0 10px #719ECE;*/

}



.active-btn {

	color: #FFE401 !important;

	font-size: 15px;

	font-weight: bold;

}



.login_view {

	min-height: 76vh;

}



.login li, .side_nav li {

    margin-bottom: 5px;

    /* padding-top: 2px; */

    /* padding-bottom: 5px; */

    width: 250px;

    background: #FFE401;

    -webkit-border-radius: 0px 7px 7px 0px;

    border-radius: 0px 7px 7px 0px;

    font-size: 20px;

}



.login-form h3 {

	text-align: center;

}



/*.nav-tabs {

	border-bottom: none;

	transition: all 0.5s ease;

}

.nav-tabs>li>a {

	-webkit-border-radius: 0px 7px 7px 0px;

	        border-radius: 0px 7px 7px 0px;

}



.nav-tabs>li>a:hover {

	transition: all 0.5s ease;

	background: transparent;

	border-color: transparent;

}



.nav-tabs>li.active>a {

	border: none;

	border-color: transparent;

	background-color: #FFE401;

    opacity: .9;

}*/

.side_nav>.nav>li>a {

	color: black;	

}



.side_nav>.nav>li>a:hover {

    text-decoration: none;

    background-color: transparent; 

}



/*.side_nav>.nav>li>a:focus {

    background-color: transparent; 

}*/



.side_nav>.nav>.active>a, .side_nav>.nav>li>a:hover {

	background-color: #FFF49A;

	color: black;

	padding: 10px;

	-webkit-border-radius: 0px 7px 7px 0px;

    border-radius: 0px 7px 7px 0px;

}



.dashboard {

	min-height: 74vh;

}



.about_us {

	min-height: 80vh;

}



/* smoke */



.smoke-base .dialog {

	top: 15% !important;

}



.smoke-base .dialog p {

	margin-bottom: -25px;

}



.school_dashboard {

	min-height: 500px;

}